<div class="wrapper">
  <h1>Edit profile</h1>
  <div class="edit-profile">
    <div class="headers-edit-profile">
      <h4>Forgot your password?</h4>
    </div>
    <div class="links-edit-profile">
      <%= link_to edit_user_password_path do %>
        <h4>Click here</h1>
      <% end %>
    </div>
  </div>
  <div class="edit-profile">
    <div class="headers-edit-profile">
      <h4>Change profile photo</h4>
    </div>
    <div class="links-edit-profile">
      <%= link_to edit_user_password_path do %>
        <h4>Click here</h1>
      <% end %>
    </div>
  </div>
</div>
