<div class="footer">
<!--   <i class="fas fa-home"></i>
  <i class="fas fa-search"></i>
  <i class="fas fa-user"></i> -->
  <%= link_to '<i class="fas fa-home"></i>'.html_safe, root_path %>
  <%= link_to '<i class="fas fa-search"></i>'.html_safe, root_path %>
  <%= link_to '<i class="fas fa-user"></i>'.html_safe, root_path %>
</div>
