<div class='footer'>
  <div class='home'>
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <%end %>
  </div>
  <div class='search'>
    <%= link_to root_path do %>
      <i class="fas fa-search"></i>
    <%end %>
  </div>
  <div class='profile'>
    <%= link_to root_path do %>
      <i class="far fa-user"></i>
    <%end %>
  </div>
</div>
