#restaurants {
  margin-top: 13vh;
}

.restaurant-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 3.6vh;
  border-top: 1px solid RGBA(25, 25, 25, 0.2);
  border-bottom: 1px solid RGBA(25, 25, 25, 0.2);
  margin-bottom: 3.6vh;
}

.restaurant-flex:hover {
  // border: 0.6px solid $red;
  text-decoration: none;
}

.text-index {
  height: 14vh;
  width: 30vh;
  position: relative;
  vertical-align: middle;
  padding-left: 10px;
}

.center-index-text {
  padding-top: 3vh;

  h4 {
    font-size: 20px;
    // text has to be vertical
    margin: 0px;
    color: black;
    opacity: 0.8;
  }

  p {
    font-size: 15px;
    font-weight: lighter;
    color: black;
    opacity: 0.8;
    margin: 0px;
  }
}

.image-index {
  position: relative;

  img {
    margin-left: -61px;
    max-height: 15vh;
    min-width: 50vw;
    object-fit: cover;
    border-radius: 0px 1px 1px 0px;
  }
}

.avatar-index {
  position: absolute;
  top: -20%;
  right: 1vh;
  display: flex;
  justify-content: space-between;
}

.plus-number {
    border: 1px solid black;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: -6px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;

    p {
    font-weight: lighter;
    font-size: 15px;
    /* font-family: 'Indie Flower', 'cursive'; */
    letter-spacing: 1px;
    color: black;
    opacity: 0.8;
    }
}

.stars-index {
  position: absolute;
  right: 2vh;
  bottom: 0px;

  .fas {
    font-size: 14px;
    color: $red;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    color: black;
    opacity: 0.8;
  }
}

.wishlist-index {
  position: absolute;
  top: 3px;
  right: 10px;
}
.dislike {
  margin-top: 6px;
  color: gray;
}

.dislike:hover {
  margin-top: 6px;
  color: $red;
}

.like {
  margin-top: 6px;
  color: $red;
  font-size: 24px;
}

.like:hover {
  margin-top: 5px;
  color: gray;
}


