

.image-show img{
  min-height: 33vh;
  max-height: 50vh;
  max-width: 100vw;
  margin-top: -4.2vh;
  margin-left: -2.5vh;
}

.zeile2 {
  display: flex;
  line-height: 40px;
  .zeile2-stars {
    padding-right:5px;
    color: $red;
  }
  .zeile2-zahl {
    color: gray;
  }
}

.zeile1 {
  padding-top: 18px;
  display:flex;
  justify-content: space-between;
  .zeile2 {
    display: flex;
    line-height: 40px;
    .zeile2-stars {
      padding-right:5px;
      color: $red;
    }
    .zeile2-zahl {
      color: gray;
    }
  }
}

.text-show-name-under12 p {
  font-size: 21px;
  margin: 0px;
  vertical-align: middle;
  font-weight: 400;
}

.text-show {
  // vertical-align: middle;
  // display: flex;
  // justify-content: space-around;
  // padding-top: 3vh;
  // padding-bottom: 3vh;
  // line-height: 40px;

  // .text-show-stars p, .text-show-city p {
  //   font-size: 17px;
  //   margin: 0px;
  //   vertical-align: middle;
  // }

  .fas {
    color: $red;
    text-decoration: none;
  }

  .Ort {
    display: flex;
    .marker {
      padding-right:20px;
    }
  }

  .Telefon {
    display:flex;
    .marker {
      padding-right:20px;
    }
  }

  .Website {
    display:flex;
    .marker {
      padding-right:20px;
    }
    a {
      color: #333333;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .Öffnungszeiten {
    display: flex;
    .marker {
      padding-right:20px;
    }
  }
}

.line-show {
  border-bottom: 1px solid rgba(1, 1, 1, 0.18);
  margin-top: 4vh;
}

.reviews-show {
  display: flex;
  text-align: center;
  align-items: center;
  padding-bottom: 5%;
  justify-content: space-between;
}

.reviews-avatar-info {
  display: flex;
}

.review-header {
  font-family: "Montserrat", "sans-serif";
  font-size: 25px;
  color: black;
  opacity: 0.6;
  font-weight: lighter;
  padding-bottom: 5%;
}

.reviews-description {
  // vertical-align: middle;
}

.review-stars {
  // vertical-align: middle;
  text-align: right;
  padding-right: 0px;
  .fas {
    color: $red;
  }
}

.reviews-description {
  // text-align: justify;
  font-size: 14px;
  margin-left: 73px;
}

.reviews-info {
  text-align: left;
  padding: 0px;
  line-height: 150%;

  .reviews-info-name {
    font-weight: 1.3;
    padding-top: 3%;
  }
}

.line-reviews {
  border-bottom: 0.9px solid gray;
  margin: 7% 1% 4% 1%;
}

.avatar-reviews {
  height: 57px;
  width: 57px;
  border-radius: 50%;
  margin-right: 16px;
}




// data

.quick-facts {
  display: flex;
  justify-content: space-around;

  .fas {
    color: rgba(100, 100, 100, 0.6);
    font-size: 22px;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .fas:hover {
    text-decoration: none;
    color: $red;
  }
}



// .data-show {
//   display: flex;
//   justify-content: space-around;
//   margin-top: 12%;
//   margin-bottom: 18%;

//   p {
//     color: white;
//     margin-bottom: 0px;
//   }
// }

// .data-text p {
//   margin-top: 1px;
//   color: black;
// }

// .data-box {
//   background-color: $red;
//   border-radius: 7%;
//   height: 36px;
//   width: 55px;
//   text-align: center;
//   vertical-align: middle;
//   line-height: 36px;
// }
