.edit-profile {
  display: flex;
  justify-content: space-between;
}

.user-photo-edit img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.user-photo-edit {
  position: relative;
}

.edit-photo {
  position: absolute;
  right: -5px;
  bottom: -8px;

  .fas {
    color: $red;
    font-size: 40px;
  }
}

.user-photo-edit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.edit-profile-page {
  margin-top: 5vh;

  h4 {
    font-size: 18px;
    margin-bottom: 22px;
  }
}

.headers-edit-profile {

  h4 {
    color: black;
    opacity: 0.8;
    font-size: 16px;
  }
}

.links-edit-profile{

  h4 {
    text-align: right;
    color: black;
    opacity: 0.8;
    font-size: 13px;
  }
}

.imprint {
  display: none;
}

.menu-edit-profile {
  display: flex;
  justify-content: space-around;
}

.menu-edit-profile-1, .menu-edit-profile-2 {
  padding-left: 20px;
  padding-right: 20px;
  color: $red;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction: column;

  .fas {
    color: rgba(100, 100, 100, 0.6);
    font-size: 22px;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
}

.private-information{
  display: flex;
  justify-content: space-between;
}

.private-information-email {


  a {
    color: black;
    opacity: 0.8;

  }

  a:hover {
    text-decoration: none;
  }
}

.show-imprint {
  position: fixed;
  bottom: 50px;
  right: 18px;
}



