

.user-details {
  display: flex;
  margin-bottom: 6vh;
  position: relative;
}

.details {
  position: absolute;
  right: 0px;
}

.number-friendships-reviews {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(0, 5%);
  margin: 0;
}

.profile-buttons {
  // display:flex
}


.user-photo-show img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.edit-profile-show {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(0, 5%);
  margin: 0;
  border: 1px solid black;
  padding: 0vh 3.6vh;
  border-radius: 7px;

  h4 {
    font-size: 14px;
    margin: 8px 0px;
    color: black;
    opacity: 0.8;
  }
}

.edit-profile-show:hover {
  background: $red;
  color: white;
  border: none;
}

.edit-profile-show h4:hover {
  text-decoration: none;
  color: white;
}

.edit-profile-show a:hover {
  text-decoration: none;
}

.number-reviews {

  h4{
  text-align: center;
  margin: 0;
  font-size: 20px;
  }
}

.number-friendships {
  margin-left: 4vh;

  h4{
  text-align: center;
  margin: 0;
  font-size: 20px;
  color: black;
  opacity: 0.8;
  }

  a:hover {
    text-decoration: none;
  }
}



.user-data-show {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  margin: 0;

  h4 {
    font-size: 18px;
  }
}

.image-user-show img {
  height: 12vh;
  width: 23vh;
  border-radius: 7px;
}

.user-reviews {
  margin-top: 5vh;
}

.user-review-show {
  display: flex;
  background: rgba(220, 220, 220, 0.1);
  border-radius: 7px;
  margin-bottom: 2vh;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,0.05);
}

.image-user-show-facts p{
  margin: 0;
}

.name-city-user {
  position: absolute;
  top: 10%;
  transform: translate(0, -10%);
  margin: 0;
  padding-left: 10px;

  h4 {
    font-size: 17px;
    margin-bottom: 1px;
    color: black;
    opacity: 0.8;
  }

  p {
    font-size: 15px;
    color: black;
    opacity: 0.8;
  }
}

.stars-user {
  position: absolute;
  right: 12px;
  bottom: 6px;
  color: black;
  opacity: 0.8;
}

// wishlist

.wishlist-user {
  display: none;
}

// top 5

.top-5-user{
  display: none;
}

.follow-button1 {
  background-color: white;
  border-radius: 2px;
  border:1px solid $red;
  padding-left: 20px;
  padding-right: 20px;
  color: $red;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 2px;
  a {
    color: $red;
    text-decoration: none;
  }
}

.follow-button1:hover {
  background-color: $red;
  border-radius: 2px;
  border:none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  a {
    color: white;
    text-decoration: none;
  }
}
