.all-friends-show {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2.5vh;
  margin-top: 2.5vh;
}

.all-friends-show {
}

.friends-header h4 {
  margin-bottom: 4vh;
  font-size: 21px;
}

.friend-photo-user-details {
  display: flex;
}

.friends-user-details {
  padding-left: 3vh;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction: column;

  h4 {
    margin: 0;
    font-size: 14px;
  }

  p {
    margin: 0;
    font-size: 12px;
  }
}


.unfollow-button {
  background-color: white;
  border-radius: 2px;
  border:1px solid $red;
  padding-left: 20px;
  padding-right: 20px;
  color: $red;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction: column;

  a {
    color: $red;
    text-decoration: none;
  }
  p {
    margin: 0px;
  }
}

.unfollow-button:hover {
  background-color: $red;
  border-radius: 2px;
  border:none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  a {
    color: white;
    text-decoration: none;
  }
}

